# The steps to create a database using the Python-Mysql Connector

#### This is a simple tutorial about how to use the python-mysql-connector to perform SQL operations inside a Python envirioment. This is useful when you're building a python web based application and need a database to store information set by the user in a GUI.

In [15]:
import mysql.connector as connector

In [21]:
# Creating a connection between the python and the mysql server. Then, using that connection to create a cursor.
connection = connector.connect(user = "root", password = "Capmund2@12")
cursor = connection.cursor()

## Create a Database process

In [25]:
# Our first step is to check if there's any database in the mysql local server.
cursor.execute("SHOW DATABASES")

for x in cursor:
  print(x)

('Exodus_store',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [24]:
# Now, let's create a database and start using it!
cursor.execute("CREATE DATABASE Exodus_store")
cursor.execute("USE Exodus_store")

In [43]:
# It's time, now, to create a few tables for our store.
cursor.execute("CREATE TABLE IF NOT EXISTS Clientes (ID_Cliente int(10) NOT NULL PRIMARY KEY, Nome VARCHAR(50) NOT NULL, Tipo VARCHAR(25) NOT NULL, Endereço VARCHAR(50) NOT NULL, Telefone int(11) NOT NULL)")
cursor.execute("CREATE TABLE IF NOT EXISTS Fornecedor (ID_Fornecedor int NOT NULL PRIMARY KEY, Nome VARCHAR(50) NOT NULL, Categoria VARCHAR(50) NOT NULL, CNPJ VARCHAR(14) NOT NULL, Endereço VARCHAR(50) NOT NULL, Estado CHAR(2) NOT NULL)")
cursor.execute("CREATE TABLE IF NOT EXISTS Produtos (ID_Produto int NOT NULL PRIMARY KEY, ID_Fornecedor int NOT NULL, valor DECIMAL (10,2) NOT NULL, FOREIGN KEY (ID_Fornecedor) REFERENCES Fornecedor(ID_Fornecedor))")
cursor.execute("CREATE TABLE IF NOT EXISTS Vendas (ID_Venda int NOT NULL PRIMARY KEY, ID_Cliente int(10) NOT NULL, ID_Produto int NOT NULL, Data DATE, FOREIGN KEY (ID_Cliente) REFERENCES Clientes(ID_Cliente), FOREIGN KEY (ID_Produto) REFERENCES Produtos(ID_Produto))")

In [46]:
# Le'ts check if the tables were created.
cursor.execute("SHOW TABLES")
for x in cursor:
  print(x)

('Clientes',)
('Fornecedor',)
('Produtos',)
('Vendas',)

In [ ]:
cursor.execute(""" 
INSERT INTO Clientes (ID_Cliente, Nome, Tipo, Endereço, Telefone)
VALUES
(1, 'John Smith', 'Individual', '123 Main Street', 1234567890),
(2, 'Jane Doe', 'Corporate', '456 Oak Avenue', 9876543210),
(3, 'Mike Johnson', 'Individual', '789 Elm Road', 5555555555),
(4, 'Sarah Williams', 'Corporate', '321 Pine Lane', 1112223333),
(5, 'Robert Brown', 'Individual', '567 Maple Drive', 4443332222);
""")

In [ ]:
cursor.execute("""
INSERT INTO Fornecedor (ID_Fornecedor, Nome, Categoria, CNPJ, Endereço, Estado)
VALUES
(1, 'ABC Company', 'Electronics', '12345678901234', '123 Main Street', 'CA'),
(2, 'XYZ Corporation', 'Automotive', '98765432109876', '456 Oak Avenue', 'NY'),
(3, 'EFG Suppliers', 'Industrial', '56789012345678', '789 Elm Road', 'TX'),
(4, 'LMN Enterprises', 'Furniture', '43210987654321', '321 Pine Lane', 'FL'),
(5, 'PQR Industries', 'Chemicals', '56781234567890', '567 Maple Drive', 'OH');
""")

In [ ]:
cursor.execute("""
INSERT INTO Produto (ID_Produto, ID_Fornecedor, valor)
VALUES
(1, 1, 99.99),
(2, 2, 49.99),
(3, 3, 199.99),
(4, 4, 79.99),
(5, 5, 149.99);
""")

In [ ]:
cursor.execute("""
INSERT INTO Vendas (ID_Venda, ID_Cliente, ID_Produto, Data)
VALUES
(1, 1, 1, '2023-05-01'),
(2, 2, 3, '2023-05-02'),
(3, 3, 2, '2023-05-03'),
(4, 4, 4, '2023-05-04'),
(5, 5, 5, '2023-05-05');
""")